<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>L&Ouml;SCHEN der Subnavigation best&auml;tigen - [Immo] by 1Ci GmbH(R)</title>

<script language="JavaScript">
<!--
var X=200
var Y=250

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>

</head>


<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;Bitte best&auml;tigen Sie das <b>L&ouml;schen</b> des Eintrags.</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td align="center" class="menutop">

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c"><b>Navigation "(sql SubNav.NameDE "ID*(form SubgroupID)")" l&ouml;schen:</b></td>
      </tr>

(repeat "SubNav.ID*(form SubgroupID)")

      (set-myvar Objectcount (sql count Object "SubNavID*(sql SubNav.ID)"))

      (if (get-myvar Objectcount) != 0)

      <tr>
      <td class="head8">Meldung: <b>L&Ouml;SCHEN NICHT M&Ouml;GLICH</b><p>Diese Navigation kann nicht gel&ouml;scht werden !<br>Es sind noch Subnavigationen oder Texte zugeordnet.<br>Um das L&ouml;schen auszuf&uuml;hren l&ouml;schen Sie bitte vorher die noch vorhandenen Eintr&auml;ge</td>
      </tr>

      <tr>
      <td class="head8" align="right"><a href="javascript:self.close()">[Fenster schlie&szlig;en]</a>&nbsp;</td>
      </tr>
      (endif)

      (if (get-myvar Objectcount) == 0)

      <tr>
      <td class="head8">Wollen Sie die Navigation wirklich l&ouml;schen ??<br>Mit OK wird der Eintrag gel&ouml;scht, Mit Abbrechen bleibt der Eintrag erhalten und das Fenster wird geschlossen.</td>
      </tr>

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

      <tr>
      <td align="right"><input type="Button" name="Ja" value="Ja" onclick="javascript:parent.window.location.href='/1Ci/dmerce?qTemplate=Navigation,delete_subgroup_2&SubgroupID=(form SubgroupID)&GroupID=(sql SubNav.HeadNavID "ID*(form SubgroupID)")'">&nbsp;&nbsp;<input type="Button" name="Nein" value="Abbrechen" onclick="javascript:self.close()"></td>
      </tr>

      (endif)

(endrepeat)
</table>

      </td>
      </tr>

</table>

      </td>
      </tr>

</table>



<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>


<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c">Ansicht:</td>
      <td class="head8">&nbsp;<a href="javascript:NavFenster('/1Ci/dmerce?qTemplate=Navigation,tree&Bereich=1')"><b>[&Uuml;bersicht]</b></a> der bestehenden Men&uuml;struktur</td>
      </tr>

</table>

      </td>
      </tr>

</table>

</body>

</html>
