<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>Bilder auf den Server hochladen - [Immo] by 1Ci GmbH(R)</title>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;Das Bild wurde erfolgreich<br>
      &nbsp;auf den Server &uuml;berspielt.</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c">&nbsp;weitere Aktionen:</td>
      </tr>

      <tr>
      <td class="head8"><a href="/1Ci/dmerce?qTemplate=Navigation,upload_pic">[noch ein Bild hochladen]</a></td>
      </tr>

      <tr>
      <td class="head8"><a href="javascript:self.close()">[Fenster schlie&szlig;en]</a></td>
      </tr>

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="2" border="0"></td>
      </tr>

</table>

      </td>
      </tr>

</table>

      </td>
      </tr>

</table>

</body>

</html>
