<html>
<head>
<script language="JavaScript">
<!--
function do_check() {
                par = '/1Ci/dmerce?qTemplate=Navigation,maintain&qUpdate=Object&Object_ID=(form ObjectID)&Object_SubNavID=(form SubgroupID)&qButton=1'
                par2 = '/1Ci/dmerce?qTemplate=Navigation,list&GroupID=(sql SubNav.HeadNavID "ID*(form SubgroupID)")'
                window.opener.parent.content.location.href= par
                window.opener.parent.menue.location.href= par2
                self.close();
}
//-->
</script>
</head>
<body onload="javascript:do_check()">
</body>
</html>
