<html>

<head>

(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>Anlegen/&Auml;ndern des eigenen Layouts</title>

<script language="JavaScript">
<!--
var X=200
var Y=250

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>


</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<img src="../../pic/dummy.gif" width="1" height="10" border="0">

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="haed8">&nbsp;Anlegen / &Auml;ndern des <b>eigenen</b> Layouts</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c">&nbsp;Layoutsatz:</td>
      <td class="head8" width="90%">&nbsp;<a href="../pic/Beispiellayout.zip" class="head8">[Download]</a></td>
      </tr>

      <tr>
      <td class="head8c" valign="top">&nbsp;Tip:</td>
      <td>Laden Sie den Layoutsatz herunter, entpacken Ihn, ver&auml;ndern Ihn nach belieben <b>ohne</b> die Gr&ouml;&szlig;e zu &auml;ndern und speichern Sie die Dateien unter dem <b>gleichen</b> Namen wieder ab.</td>
      </tr>

</form>

</table>

      </td>
      </tr>
</table>

<img src="../../pic/dummy.gif" width="1" height="10" border="0">

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td class="haed8">&nbsp;Hochladen des eigenen Layouts auf den Server:</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c" valign="top">&nbsp;Navigationshintergrund:</td>
      </tr>

      <tr>
      <td class="head8" valign="top"><input type="file" name=""></td>
      </tr>

      <tr>
      <td class="head8c" valign="top">&nbsp;Oben BG:</td>
      </tr>

      <tr>
      <td class="head8" valign="top"><input type="file" name=""></td>
      </tr>

      <tr>
      <td class="head8c" valign="top">&nbsp;Style Sheet:</td>
      </tr>

      <tr>
      <td class="head8" valign="top"><input type="file" name=""></td>
      </tr>

      <tr>
      <td class="head8c" valign="top">&nbsp;Vorschaubild:</td>
      </tr>

      <tr>
      <td class="head8" valign="top"><input type="file" name=""></td>
      </tr>

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="1" border="0"></td>
      </tr>

      <tr>
      <td align="right"><input type="Submit" name="qButton" value="hochladen">&nbsp;</td>
      </tr>

</table>

      </td>
      </tr>

</table>

</body>

</html>