<html>

<head>

(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)

<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>(var SERVER_NAME) - Right Sitemap</title>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

(if (form Bereich) == 1 or (form Bereich) == 3)

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td class="nav10blue">&nbsp;<b>Rechte im System</b>:</td>
      </tr>

      <tr>
      <td class="head12b">(sql Wordlist.NameDE "ID*1")
      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*1") == 0)
      Jeder
      (else)

      (repeat "ID*1")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)

      (endif)


      </td>
      </tr>

      <tr>
      <td>


<table width="100%" border="0" cellspacing="2" cellpadding="2">


(repeat "Navigation.ID]0")

(set-myvar Subnavcount (sql count Subnavigation "NavigationID*(sql Navigation.ID)"))

(set-myvar Textcount (sql count Textarticle "NavigationID*(sql Navigation.ID)"))


      (if (get-myvar Textcount) == 1 and (get-myvar Subnavcount) == 0)
      <tr>
      <td class="head8c">
      <a href="/1Ci/dmerce?qTemplate=Textarticle,view&TextarticleID=(sql Textarticle.ID "NavigationID*(sql Navigation.ID)")&qSuperSearch=Textarticle.ID*(sql Textarticle.ID "NavigationID*(sql Navigation.ID)")" target="content" onMouseOver="window.status='(sql Navigation.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

       --> Direkte Verkn&uuml;pfung mit Artikel "(sql Textarticle.Head "NavigationID*(sql Navigation.ID)")"
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)

      --> Usergruppe :
      (if (sql Textarticle.GruppenID "NavigationID*(sql Navigation.ID)") == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Textarticle.GruppenID "NavigationID*(sql Navigation.ID)")")
      (endif)

      </td>
      </tr>
      (endif)


      (if (get-myvar Textcount) > 1 and (get-myvar Subnavcount) == 0)
      <tr>
      <td class="head8c">
      <a href="/1Ci/dmerce?qTemplate=Textarticle,all_list&qSuperSearch=Textarticle.NavigationID*(sql Navigation.ID)&NavID=(sql Navigation.ID)" target="content" onMouseOver="window.status='(sql Navigation.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

       --> Liste mit (get-myvar Textcount) Artikeln
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)


      (if (get-myvar Subnavcount) > 0 and (get-myvar Textcount) == 0)
      <tr>
      <td class="head8c">
      <a href="/1Ci/dmerce?qTemplate=Navigation,list&NavID=(sql Navigation.ID)" target="menue" onclick="javascript:parent.content.location.href='/1Ci/dmerce?qTemplate=Textarticle,intro&NavID=(sql Navigation.ID)'" onMouseOver="window.status='(sql Navigation.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

       --> (get-myvar Subnavcount) Subnavigationen zugeordnet
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)


      (if (get-myvar Subnavcount) > 0 and (get-myvar Textcount) == 1)
      <tr>
      <td class="head8c">
      <a href="/1Ci/dmerce?qTemplate=Navigation,list&NavID=(sql Navigation.ID)" target="menue" onclick="javascript:parent.content.location.href='/1Ci/dmerce?qTemplate=Textarticle,view&TextarticleID=(sql Textarticle.ID "NavigationID*(sql Navigation.ID)")&qSuperSearch=Textarticle.ID*(sql Textarticle.ID "NavigationID*(sql Navigation.ID)")&NavID=(sql Navigation.ID)'" onMouseOver="window.status='(sql Navigation.NameDE)';return true" onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

       --> (get-myvar Subnavcount) Subnavigationen zugeordnet und Artikel "(sql Textarticle.Head "NavigationID*(sql Navigation.ID)")" direkt verkn&uuml;pft
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)


      (if (get-myvar Subnavcount) > 0 and (get-myvar Textcount) > 1)
      <tr>
      <td class="head8c">
      <a href="/1Ci/dmerce?qTemplate=Navigation,list&NavID=(sql Navigation.ID)" target="menue" onclick="javascript:parent.content.location.href='/1Ci/dmerce?qTemplate=Textarticle,all_list&qSuperSearch=Textarticle.NavigationID*(sql Navigation.ID)'" onMouseOver="window.status='(sql Navigation.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

       --> (get-myvar Subnavcount) Subnavigationen und (get-myvar Textcount) Artikel zugeordnet
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)


      (if (get-myvar Textcount) == 0 and (get-myvar Subnavcount) == 0)
      <tr>
      <td class="head8c">
      <a href="#" target="content" onMouseOver="window.status='(sql Navigation.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql Navigation.NameDE)</b></a>

      --> Usergruppe :
      (if (sql Navigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Navigation.GruppenID)")
      (endif)

      --> keine Subnavigation und kein Artikel zugeordnet --> <font color="#FF0000">nicht angezeigt</font>
      (if (sql Navigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)


      (repeat "Textarticle.NavigationID*(sql Navigation.ID)")
      <tr>
      <td class="head8">
      &nbsp;&nbsp;<a href="javascript:window.opener.parent.content.location.href=('/1Ci/dmerce?qTemplate=Textarticle,view&TextarticleID=(sql Textarticle.ID)&NavID=(sql Textarticle.NavigationID)&qSuperSearch=Textarticle.NavigationID*(sql Textarticle.NavigationID)');self.close();">(sql Textarticle.Head)</a>

      --> Usergruppe :
      (if (sql Textarticle.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Textarticle.GruppenID)")
      (endif)

      (if (sql Textarticle.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>

(endrepeat)


(repeat "Subnavigation.NavigationID*(sql Navigation.ID)")

      (set-myvar SubTextcount (sql count Textarticle "SubnavID*(sql Subnavigation.ID)"))

      (if (get-myvar SubTextcount) > 1)
      <tr>
      <td class="head8c">
      &nbsp;&nbsp;<a href="/1Ci/dmerce?qTemplate=Textarticle,list&SubnavID=(sql Subnavigation.ID)&NavID=(form NavID)" target="content" onMouseOver="window.status='(sql Subnavigation.NameDE)';return true"  onMouseOut="window.status='';return true">(sql Subnavigation.NameDE)</a>

      --> Usergruppe :
      (if (sql Subnavigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Subnavigation.GruppenID)")
      (endif)

       --> (get-myvar SubTextcount) Artikel zugeordnet
      (if (sql Subnavigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)

      (if (get-myvar SubTextcount) == 1)
      <tr>
      <td class="head8c">
      &nbsp;&nbsp;<a href="/1Ci/dmerce?qTemplate=Textarticle,view&TextarticleID=(sql Textarticle.ID "SubnavID*(sql Subnavigation.ID)")&NavID=(form NavID)&qSuperSearch=Textarticle.ID*(sql Textarticle.ID "SubnavID*(sql Subnavigation.ID)")" target="content" onMouseOver="window.status='(sql Subnavigation.NameDE)';return true"  onMouseOut="window.status='';return true">(sql Subnavigation.NameDE)</a>

      --> Usergruppe :
      (if (sql Subnavigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Subnavigation.GruppenID)")
      (endif)

       --> Direkte Verkn&uuml;pfung mit Artikel "(sql Textarticle.Head "SubnavID*(sql Subnavigation.ID)")"
      (if (sql Subnavigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)

      (if (get-myvar SubTextcount) == 0)
      <tr>
      <td class="head8c">
      &nbsp;&nbsp;<a href="/1Ci/dmerce?qTemplate=Textarticle,list&SubnavID=(sql Subnavigation.ID)&NavID=(form NavID)" target="content" onMouseOver="window.status='(sql Subnavigation.NameDE)';return true"  onMouseOut="window.status='';return true">(sql Subnavigation.NameDE)</a>

      --> Usergruppe :
      (if (sql Subnavigation.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Subnavigation.GruppenID)")
      (endif)

       --> 0 Texte zugeordnet --> <font color="#FF0000">nicht angezeigt</font>
      (if (sql Subnavigation.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>
      (endif)

      (repeat "Textarticle.SubnavID*(sql Subnavigation.ID)")
      <tr>
      <td class="head8b">
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:window.opener.parent.content.location.href=('/1Ci/dmerce?qTemplate=Textarticle,view&NavID=(sql Subnavigation.NavigationID "ID*(sql Textarticle.SubnavID)")&SubnavID=(sql Textarticle.SubnavID)&TextarticleID=(sql Textarticle.ID)&qSuperSearch=Textarticle.SubnavID*(sql Textarticle.SubnavID)');self.close();">(sql Textarticle.Head)</a>

      --> Usergruppe :
      (if (sql Textarticle.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Textarticle.GruppenID)")
      (endif)

      (if (sql Textarticle.active) == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)
      </td>
      </tr>

(endrepeat)

(endrepeat)


(endrepeat)

(endrepeat)

(endif)

      </table>

      </td>
      </tr>


(if (form Bereich) == 2 or (form Bereich) == 3)

      <tr>
      <td class="head12b">(sql Wordlist.NameDE "ID*2")
      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*2") == 0)
      Jeder
      (else)
      (repeat "ID*2")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)
      (endif)

      </td>
      </tr>

      <tr>
      <td>

      <table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">



(repeat "HeadNav.ID]0")

(set-myvar Subgroupcount (sql count SubNav "HeadNavID*(sql HeadNav.ID)"))

      <tr>
      <td class="head8c">
      <a class="menutop" href="/1Ci/dmerce?qTemplate=Navigation,list&GroupID=(sql HeadNav.ID)" target="menue" onclick="javascript:parent.content.location.href='/1Ci/dmerce?qTemplate=Object,intro&GroupID=(sql HeadNav.ID)'" onMouseOver="window.status='(sql HeadNav.NameDE)';return true"  onMouseOut="window.status='';return true"><b>(sql HeadNav.NameDE)</b></a>

      --> Usergruppe :
      (if (sql HeadNav.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql HeadNav.GruppenID)")
      (endif)

       --> (get-myvar Subgroupcount) Subnavigationen zugeordnet</br>
(set-myvar HeadID (sql HeadNav.ID))
      </td>
      </tr>


(repeat "SubNav.HeadNavID*(get-myvar HeadID)")

(set-myvar Objectcount (sql count Object "SubNavID*(sql SubNav.ID)"))

      <tr>
      <td class="head8c">
     &nbsp;&nbsp;<a href="/1Ci/dmerce?qTemplate=Object,list&SubgroupID=(sql SubNav.ID)&GroupID=(form GroupID)&qSuperSearch=Object.SubNavID*(sql SubNav.ID)" target="content" onMouseOver="window.status='(sql SubNav.NameDE)';return true"  onMouseOut="window.status='';return true">(sql SubNav.NameDE)</a>

      --> Usergruppe :
      (if (sql SubNav.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql SubNav.GruppenID)")
      (endif)

      --> (get-myvar Objectcount) Objekte zugeordnet
(if (get-myvar Objectcount) == 0)
<font color="#FF0000">nicht angezeigt</font>
(endif)
      </td>
      </tr>

(repeat "Object.SubNavID*(sql SubNav.ID)")

      <tr>
      <td class="head8">
&nbsp;&nbsp;&nbsp;&nbsp;<a  href="javascript:window.opener.parent.content.location.href=('/1Ci/dmerce?qTemplate=Object,view&ObjectID=(sql Object.ID)&GroupID=(sql SubNav.HeadNavID "ID*(sql Object.SubNavID)")&SubgroupID=(sql Object.SubNavID)');self.close();">(sql Object.Head)</a>

      --> Usergruppe :
      (if (sql Object.GruppenID) == 0)
      Jeder
      (else)
      (sql Usergruppe.Description "ID*(sql Object.GruppenID)")
      (endif)

      </td>
      </tr>

(endrepeat)

(endrepeat)

(endrepeat)

       </table>

(endif)



(if (form Bereich) == 3)

      <tr>
      <td class="head12b">Service</td>
      </tr>

      <tr>
      <td>

      <table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8">(sql Wordlist.NameDE "ID*3")
      (if (sql Wordlist.active "ID*3") == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)

      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*3") == 0)
      Jeder
      (else)
      (repeat "ID*3")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)
      (endif)

      </td>
      </tr>

      <tr>
      <td class="head8">(sql Wordlist.NameDE "ID*4")
      (if (sql Wordlist.active "ID*4") == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)

      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*4") == 0)
      Jeder
      (else)
      (repeat "ID*4")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)
      (endif)

      </td>
      </tr>

      <tr>
      <td class="head8">(sql Wordlist.NameDE "ID*8")
      (if (sql Wordlist.active "ID*8") == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)

      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*8") == 0)
      Jeder
      (else)
      (repeat "ID*8")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)
      (endif)

      </td>
      </tr>

      <tr>
      <td class="head8">&nbsp;</td>
      </tr>

      <tr>
      <td class="head8">(sql Wordlist.NameDE "ID*5")
      (if (sql Wordlist.active "ID*5") == 0)
      <font color="#FF0000">(inaktiv)</font>
      (endif)

      --> Usergruppe :
      (if (sql Wordlist.GruppenID "ID*5") == 0)
      Jeder
      (else)
      (repeat "ID*5")
      (sql Usergruppe.Description "ID*(sql Wordlist.GruppenID)")
      (endrepeat)
      (endif)

      </td>
      </tr>

      </table>

(endif)

</td>
</tr>

</table>


<br>
<br>



</body>
</html>