<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>OBJEKTBEREICH - Navigation hinzuf&uuml;gen - [Immo] by 1Ci GmbH(R)</title>

<script language="JavaScript">
<!--
var X=200
var Y=250

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>


</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="haed8">&nbsp;F&uuml;gen Sie hier eine <b>neue</b> Obernavigation<br>&nbsp;dem Themenbereich <b>"(sql Wordlist.NameDE "ID*2")"</b> hinzu</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <form method="post" action="/1Ci/dmerce" name="myForm">
      <input type="hidden" name="qTemplate" value="Navigation,insert_obheadgroup_2">
      <input type="hidden" name="qInsert" value="HeadNav">
      <input type="hidden" name="HeadNav_ID" value="(sql dboid HeadNav)">
      <input type="hidden" name="GroupID" value="(sql dboid HeadNav)">

      <tr>
      <td class="head8c">&nbsp;Usergruppe:</td>
      <td class="head8">&nbsp;<select name="HeadNav_GruppenID" size="1">
      <option value="0">Alle</option>
      (repeat "Usergruppe.ID]0")
      <option value="(sql Usergruppe.ID)">(sql Usergruppe.Description)</option>
      (endrepeat)
      </select></td>
      </tr>

      <tr>
      <td class="head8c">&nbsp;Name:</td>
      <td class="head8">&nbsp;<input type="Text" name="HeadNav_NameDE" class="input" size="35"></td>
      </tr>

      <tr>
      <td class="head8c">&nbsp;Status:</td>
      <td class="head8">&nbsp;<select name="HeadNav_active" size="1">
      <option value="1">aktiv
      <option value="0">inaktiv
      </select></td>
      </tr>

      <tr>
      <td class="head8c">&nbsp;</td>
      <td class="head8">Aktiv = Navigation wird angezeigt<br>Inaktiv = Vorbereitet, wird nicht angezeigt</td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="2" border="0"></td>
      </tr>

      <tr>
      <td align="right" colspan="2"><input type="submit" class="submit" name="qButton" value="hinzuf&uuml;gen"></td>
      </tr>

</form>

</table>

      </td>
      </tr>

</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>


<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c">Ansicht:</td>
      <td class="head8">&nbsp;<a href="javascript:NavFenster('/1Ci/dmerce?qTemplate=Navigation,tree&Bereich=1')"><b>[&Uuml;bersicht]</b></a> der bestehenden Men&uuml;struktur</td>
      </tr>

</table>

      </td>
      </tr>

</table>

</body>

</html>