<html>

<head>

(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)

<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<META NAME="REPLY-TO" CONTENT="info@1Ci.de">

<title>USER - bearbeiten</title>

</head>

<body

(if '(form Infenster)' == '1')
onLoad="window.resizeTo(700,320)"
(endif)

bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

(repeat "Agent.ID*(form AgentID)")


<table width="100%" border="0" cellspacing="0" cellpadding="0">

       <tr>
       <td><img src="/pic/dummy.gif" width="1" height="10" border="0"></td>
       </tr>

</table>

<form method="post" action="/1Ci/dmerce" enctype="multipart/form-data" name="thisForm">
<input type="hidden" name="qTemplate" value="(form Template)">
<input type="hidden" name="qUpdate" value="Agent">
<input type="hidden" name="Agent_ID" value="(sql Agent.ID)">


<table width="97%" border="0" cellspacing="2" cellpadding="0" align="center">

      <tr>
      <td width="70%" class="head8"><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;User "(sql Agent.FirstName) (sql Agent.LastName)" bearbeiten</td>
      <td width="30%" class="head8" align="right">[(exec Time.Conversion.Actual formatDate='europe' cexe)]</td>
      </tr>

      <tr>
      <td colspan="2"><img src="/pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

</table>

<table width="97%" border="0" cellspacing="2" cellpadding="2" align="center">

       <tr>
       <td valign="top">

<table width="100%"  border="0" cellspacing="2" cellpadding="2">

       <tr>
       <td class="nav11">Login:</td>
       <td class="head12b"><input type="Text" name="Agent_Login" size="60" class="input" value="(sql Agent.Login)"></td>
       </tr>

       <tr>
       <td class="nav11">Password:</td>
       <td class="head12b"><input type="Text" name="Agent_passwd" size="8" class="input" value="(sql Agent.passwd)"></td>
       </tr>

       <tr>
       <td class="nav11">Usergruppe:</td>
       <td class="head12b">
       <select name="Agent_GruppenID" size="1">

       (if (sql Agent.ID) <= 10)
       <option value="0">Admin-User</option>
       (endif)

       (if (sql Agent.ID) > 10)

       (set-myvar AgentGruppenID (sql Agent.GruppenID))
       <option value="0">keine Usergruppe</option>
       (repeat "Usergruppe.ID]0{Usergruppe.ID")

       (if (sql Usergruppe.ID) == (get-myvar AgentGruppenID))
       <option value="(sql Usergruppe.ID)" selected>(sql Usergruppe.Description)</option>
       (else)
       <option value="(sql Usergruppe.ID)">(sql Usergruppe.Description)</option>
       (endif)

       (endrepeat)
       (endif)
       </select>
       </td>
       </tr>

       <tr>
       <td class="nav11">Vorname:</td>
       <td class="head12b"><input type="Text" name="Agent_FirstName" size="60" class="input" value="(sql Agent.FirstName)"></td>
       </tr>

       <tr>
       <td class="nav11">Nachname:</td>
       <td class="head12b"><input type="Text" name="Agent_LastName" size="60" class="input" value="(sql Agent.LastName)"></td>
       </tr>

       <tr>
       <td class="nav11">Email:</td>
       <td class="head12b"><input type="Text" name="Agent_Email" size="60" class="input" value="(sql Agent.Email)"></td>
       </tr>

       <tr>
       <td colspan="2"><img src="/pic/upload/001_1pixel.gif" width="100%" height="1" border="0"></td>
       </tr>


       <td class="text9" colspan="2" align="right">Klicken Sie auf [&uuml;bernehmen] um den User hinzuzuf&uuml;gen&nbsp;&nbsp;<input type="Submit" name="qButton" value="&uuml;bernehmen" class="submit">&nbsp;&nbsp;</td>
       </tr>

       <tr>
       <td colspan="2"><img src="/pic/upload/001_1pixel.gif" width="100%" height="1" border="0"></td>
       </tr>

</table>

      </td>
      </tr>

</table>

</form>

(endrepeat)

</body>

</html>