<html>

<head>

(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<META NAME="REPLY-TO" CONTENT="info@1Ci.de">

<script language="JavaScript">
        <!--
        var X=100
        var Y=160

function NeuFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=450
        myheight=450
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
   newWin = window.open(myurl,'Fenster',par);
   newWin.focus();
}

//-->
</script>

(repeat "Article.ID*(form ArticleID)")

<title>Detailansicht Artikel (sql Article.Name)</title>

</head>



<body

(if '(form Infenster)' == '1')
onLoad="window.resizeTo(850,500);"
(endif)

bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">



<table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>


<table width="97%" border="0" cellspacing="2" cellpadding="0" align="center">

      <tr>
      <td width="70%" class="head8"><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">
      (sql Wordlist.NameDE "ID*2")
      (if '(form GroupID)' != '')
      > <a href="/1Ci/dmerce?qTemplate=Article,intro&GroupID=(form GroupID)">(sql HeadNav.NameDE "ID*(form GroupID)")</a>
      (endif)
      (if '(form SubgroupID)' != '')
      > <a href="/1Ci/dmerce?qTemplate=Article,list&SubgroupID=(form SubgroupID)&GroupID=(form GroupID)&qSuperSearch=Article.SubNavID*(form SubgroupID)">(sql SubNav.NameDE "ID*(form SubgroupID)")</a>
      (endif)
      (if '(form ArticleID)' != '')
      > (sql Article.Name "ID*(form ArticleID)")</a>
      (endif)
      </td>
      <td width="30%" class="head8" align="right">

      (if (sql count BasketContents "SessionId*'(var qs)'") == 0)
      &nbsp;
      (else)
      <a href="/1Ci/dmerce?qTemplate=Basket,basket_show">Im Warenkorb: <b>(exec Merchant.Basket.SumQty cexe) Artikel</b></a>&nbsp;&nbsp;
      (endif)

      [(exec Time.Conversion.Actual formatDate='europe' cexe)]</td>

      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

</table>




<table width="97%" border="0" cellspacing="2" cellpadding="2" align="center">

       <tr>
       <td width="20%" valign="top">

<table width="100%" border="0" cellspacing="3" cellpadding="0">

       (if '(sql Article.Picture)' != '')

       <tr>
       <td colspan="2"><img src="../pic/upload/(sql Article.Picture)" border="0"></td>
       </tr>

       <tr>
       <td colspan="2"><img src="../pic/dummy.gif" border="0" width="1" height="10" border="0"></td>
       </tr>

       (endif)


       <tr>
       <td class="head8"><a class="head8" href="/1Ci/dmerce?qTemplate=Contact,contact&OfferID=(sql Article.ID)"><img src="../../pic/contact.gif" width="16" height="10" border="0" alt="[Kontaktaufnahme]"></a></td>
       <td class="head8"><a class="head8" href="/1Ci/dmerce?qTemplate=Contact,contact&OfferID=(sql Article.ID)">[- Kontaktaufnahme]</a></td>
       </tr>

       <tr>
       <td class="head8"><a class="head8" href="javascript:window.print()"><img src="../../pic/print.gif" width="16" height="16" border="0" alt="[Diesen Text drucken]"></a></td>
       <td><a class="head8" href="javascript:window.print()">[- Angebot drucken]</a></td>
       </tr>


       (if (sql count ArticlePicture "(form ArticleID)*ArticlePicture.ArticleID") != 0)

       <tr>
       <td colspan="2"><img src="../pic/dummy.gif" border="0" width="1" height="10" border="0"></td>
       </tr>

       <tr>
       <td width="22" class="head8"><img src="../../pic/view.gif" width="16" height="16" border="0" alt="[weitere Ansichten]"></td>
       <td class="head8">[- weitere Ansichten]</td>
       </tr>

       (repeat "ArticlePicture.ArticleID*(form ArticleID)")

       <tr>
       <td class="head8"><a href="javascript:NeuFenster('/1Ci/dmerce?qTemplate=Article,zoom&ArticlePictureID=(sql ArticlePicture.ID)')"><img src="../../pic/picavailable.gif" width="16" height="16" border="0" alt="[Ansicht: (sql ArticlePicture.Name)]"></a></td>
       <td class="head8"><a href="javascript:NeuFenster('/1Ci/dmerce?qTemplate=Article,zoom&ArticlePictureID=(sql ArticlePicture.ID)')">(sql ArticlePicture.Name)</a></td>
       </tr>

       (endrepeat)

       (endif)

</table>

       <td width="80%" valign="top">

<table width="100%" border="0" cellspacing="0" cellpadding="2">

      <tr>
      <td class="head12b" colspan="2">&nbsp;(sql Article.Name)</td>

      (if (get-myvar login) == 1)
      <td class="head12b" align="right">
      <a href="/1Ci/dmerce?qTemplate=Article,maintain&ArticleID=(sql Article.ID)&GroupID=(form GroupID)&SubgroupID=(form SubgroupID)"><img src="../../pic/edit.gif" width="16" height="16" border="0" alt="[Diese Seite bearbeiten]"></a></td>
      (else)
      <td class="head12b"><img src="../../pic/dummy.gif" width="1" height="1" border="0"></td>
      (endif)
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>

      <tr>
      <td valign="top">

<table width="100%"  border="0" cellspacing="2" cellpadding="2">

      (if '(sql Article.ArtNo)' != '')
      <tr>
      <td class="head9c" width="35%"><b>Artikel Nummer</b></td>
      <td class="head9">(sql Article.ArtNo)</td>
      </tr>
      (endif)

      (if '(sql Article.Name)' != '')
      <tr>
      <td class="head9c" width="35%"><b>Artikel Name</b></td>
      <td>(sql Article.Name)</td>
      </tr>
      (endif)

      (if '(sql Article.Producer)' != '')
      <tr>
      <td class="head9c" width="35%"><b>Hersteller</b></td>
      <td>(sql Article.Producer)</td>
      </tr>
      (endif)

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>



      <tr>
      <td class="head12b" colspan="3">Weiter Angaben zum Artikel</td>
      </tr>

      (if '(sql Article.ClassOfGoodsID)' != '')
      <tr>
      <td class="head9c" width="35%">Warengruppe</td>
      <td>(sql ClassOfGoods.Name "ID*(sql Article.ClassOfGoodsID)")</td>
      </tr>
      (endif)

      (if '(sql Article.ShortDescription)' != '')
      <tr>
      <td class="head9c" width="35%" valign="top">Kurzbeschreibung</td>
      <td>(sql Article.ShortDescription)</td>
      </tr>
      (endif)

      (if '(sql Article.DetailDescription)' != '')
      <tr>
      <td class="head9c" width="35%" valign="top">Detailbeschreibung</td>
      <td>(sql Article.DetailDescription)</td>
      </tr>
      (endif)

      <tr>
      <td class="head9c" width="35%" valign="top">Ma&szlig;e</td>
      <td>(sqlf Article.Width 1) x (sqlf Article.Height 1) x (sqlf Article.Depth 1)&nbsp;cm</td>
      </tr>

      (if '(sql Article.Weight)' != '')
      <tr>
      <td class="head9c" width="35%" valign="top">Gewicht</td>
      <td>(sqlf Article.Weight 3) Kg</td>
      </tr>
      (endif)

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>


      (if '(sql PriceGross)' != '0.00')
      <tr>
      <td class="head9c" width="35%">Verkaufspreis</td>
      <td>(sqlf Article.PriceGross 2)&nbsp;&#8364;</td>
      </tr>
      (endif)

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="5" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="30" border="0"></td>
      </tr>


      <tr>
      <td colspan="2" align="right"><a href="/1Ci/dmerce?qTemplate=(var qTemplate)&qTrigger=Merchant.Basket.PutArticle&artId=(sql Article.ID)&ArticleID=(sql Article.ID)&GroupID=(form GroupID)&SubgroupID=(form SubgroupID)&QSS=(var qSuperSearch)&qSuperSearch=(var qSuperSearch)#(sql Article.ID)"><img src="../../pic/ab_damit.gif" width="240" height="11" border="0" alt="...und ab geht's!"></a></td>
      </tr>


</table>

       </td>
       </tr>

</table>

       </td>
       </tr>

</table>

(endrepeat)


</form>



</body>
</html>