<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>Kontaktformular - Kontaktwunsch hinzuf&uuml;gen</title>

<script language="JavaScript">
<!--
var X=200
var Y=250

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>


</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="haed8">&nbsp;F&uuml;gen Sie hier eine <b>neuen</b> Kontaktwunsch<br>&nbsp;f&uuml;r Ihr <b>Kontaktformular</b> hinzu</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <form method="post" action="/1Ci/dmerce" name="myForm">
      <input type="hidden" name="qTemplate" value="Contactwish,closeall">
      <input type="hidden" name="qInsert" value="Contactwish">

      <tr>
      <td class="head8c">&nbsp;Name:</td>
      <td class="head8">&nbsp;<input type="Text" name="Contactwish_Name" class="input" size="35"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="2" border="0"></td>
      </tr>

      <tr>
      <td align="right" colspan="2"><input type="submit" class="submit" name="qButton" value="hinzuf&uuml;gen"></td>
      </tr>

</form>

</table>

      </td>
      </tr>

</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>


</body>

</html>