Hallo (sql Operator.FirstName "ID*1") (sql Operator.LastName "ID*1"),


Es wurde versucht aus dem Internet-Auftritt von (sql Operator.Company "ID*1") mit Ihnen Kontakt aufzunehmen!



Formular KFZ-Angebot
====================

FAHRZEUGANGABEN

Kennzeichen: (form AKZ)
Hersteller: (form Hersteller)
Fahrzeugtyp: (form Fahrzeugtyp)
Datum der Erstzulassung: (form Zulassung)
Herstellerschl&uuml;ssel (zu 2. - HSN): (form HSN)
Typschl&uuml;ssel (zu 3. - TSN): (form TSN)
Motorleistung: (form Motor)
Hubraum: (form Hubraum)
Fahrzeugneuwert (in Euro): (form KFZWert)
gefahrene KM pro Jahr: (form kmJahr)
Aktueller Versicherer: (form Versicherer)
Fahrer unter 25 Jahren? (form unter25)


PERSONENANGABEN

Ihr Geburtsdatum: (form GebDat)
F&uuml;hrerscheindatum: (form Fuehrerschein)
Sie sind Erstbesitzer des Fahrzeuges? (form KFZerster)
Fahrzeug erworben am: (form KFZerworben)
Sie haben ein Sicherheitstraining besucht: (form KFZtraining)
Sie sind Vorsteuerabzugsberechtigt? (form Vorsteuer)
Sie sind: (form personstatus)
Berechtigt Sie eine Behinderung zur Steuerbefreiung: (form behinderung)
Sie geh&ouml;ren folgender Berufsgruppe an? (form Berufsgruppe)
Nationalitaet: (form Nationalitaet)


DECKUNGSUMFANG

Haftpflicht - (form HV_unbegrenzt)
Haftpflicht - andere Deckung: (form HV_Summe)
Haftpflicht - Ihr SF-Klasse: (form HV_SFKlasse)
Haftpflicht - alternativ Ihr Betragssatz: (form HV_SFSatz)
Vollkasko - Ihre SF-Klasse: (form VK_SFKlasse)
Vollkasko - alternativ Ihr Beitragssatz: (form VK_SFSatz)


IHRE ADRESSE
Zur &Uuml;bermittlung des Angebotes

Name: (form Name)
Strasse: (form Strasse)
PLZ - Ort: (form PLZ) - (form Ort)
Telefon: (form Telefon)
Telefax: (form Fax)
Email: (form Email)
Sonstiges: (form Sonstiges)



