<html>

<head>

(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>(var SERVER_NAME) - Warenkorb / New Symbol &auml;ndern</title>

<script language="JavaScript">
<!--
var X=200
var Y=250

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>


</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<img src="../../pic/dummy.gif" width="1" height="10" border="0">

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="haed8">&nbsp;&Auml;ndern des Warenkorb / New Symbols</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c" valign="top">&nbsp;Tip:</td>
      <td>Bitte achten Sie darauf keine zu gro&szlig;en Symbole zu hinterlegen.</td>
      </tr>

</form>

</table>

      </td>
      </tr>
</table>

<img src="../../pic/dummy.gif" width="1" height="10" border="0">

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">

      <tr>
      <td class="head8c">&nbsp;Bisheriges "New" Symbol:</td>
      <td align="center"><img src="/pic/upload/(sql Wordlist.NameDE "ID*53")" alt="" border="0"></td>
      </tr>


      <form action="/1Ci/dmerce" method="post" enctype="multipart/form-data">
      <input type="hidden" name="qTemplate" value="(var qTemplate)">
      <input type="hidden" name="qUpdate" value="Wordlist">
      <input type="hidden" name="Wordlist_ID" value="53">
      <input type="hidden" name="qTrigger" value="OS.File.Upload">
      <input type="hidden" name="qUploadKeepRealname" value="Wordlist_NameDE">

      <tr>
      <td class="head8c" valign="top">&nbsp;neues Bild:</td>
      <td align="center"><input type="File" name="Wordlist_NameDE" class="input"></td>
      </tr>

      <tr>
      <td class="head8c" colspan="2" align="center"><input class="submit" type="Submit" name="Okay" value="[&uuml;bernehmen]"></td>
      </tr>

      </form>

      <tr>
      <td colspan="2">&nbsp;</td>
      </tr>

      <tr>
      <td class="head8c">&nbsp;Bisheriges "Warenkorb" Symbol:</td>
      <td align="center"><img src="/pic/upload/(sql Wordlist.NameDE "ID*52")" alt="" border="0"></td>
      </tr>


      <form action="/1Ci/dmerce" method="post" enctype="multipart/form-data">
      <input type="hidden" name="qTemplate" value="(var qTemplate)">
      <input type="hidden" name="qUpdate" value="Wordlist">
      <input type="hidden" name="Wordlist_ID" value="52">
      <input type="hidden" name="qTrigger" value="OS.File.Upload">
      <input type="hidden" name="qUploadKeepRealname" value="Wordlist_NameDE">

      <tr>
      <td class="head8c" valign="top">&nbsp;neues Bild:</td>
      <td align="center"><input type="File" name="Wordlist_NameDE" class="input"></td>
      </tr>

      <tr>
      <td class="head8c" colspan="2" align="center"><input class="submit" type="Submit" name="Okay" value="[&uuml;bernehmen]"></td>
      </tr>

      </form>


</table>

<br>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">
      <tr>
      <td class="head8c" align="center"><a class="head8c" href="javascript:self.close();"><b>[Fenster schliessen]</b></a></td>
      </tr>
</table>


</body>

</html>