<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<META NAME="REPLY-TO" CONTENT="info@1Ci.de">

<title>Neue Subavigation hinzuf&uuml;gen</title>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<img src="../../pic/dummy.gif" width="1" height="10" border="0">

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="haed8">&nbsp;Subnavigation <b>"(sql SubNav.NameDE "ID*(form SubgroupID)")"</b> wurde angelegt.<br><br>
      Ihre folgenden M&ouml;glichkeiten:</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8c">&nbsp;Artikel:</td>
      <td class="head8">&nbsp;<a href="/1Ci/dmerce?qTemplate=Article,insert&Infenster=1&SubgroupID=(form SubgroupID)&GroupID=(sql SubNav.HeadNavID "ID*(form SubgroupID)")&Template=Navigation,closenav">anlegen</a></td>
      </tr>

</table>

      </td>
      </tr>
</table>


</body>

</html>