<html>

<head>
(set-myvar Daskin (sql Operator.LayoutID "ID*1"))
(set-skin (get-myvar Daskin))

(skin-stylesheet)
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<META NAME="REPLY-TO" CONTENT="info@1Ci.de">

<title>(var SERVER_NAME) - Administration</title>

<script language="JavaScript">
<!--
var X=100
var Y=160

function NeuFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=300
        myheight=300
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster',par);
newWin.focus();
}

function NeuGrossFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=400
        myheight=250
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}


function NeuGross600Fenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=600
        myheight=450
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster3',par);
newWin.focus();
}


function BigFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=800
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster4',par);
newWin.focus();
}

function NavFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=850
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster5',par);
newWin.focus();
}

function HighlightFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=500
        myheight=500
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster6',par);
newWin.focus();
}

function ObjectFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=600
        myheight=300
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster7',par);
newWin.focus();
}

function PasswortFenster(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=450
        myheight=170
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster7',par);
newWin.focus();
}

//-->
</script>

</head>


<body  background=""  bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>


<table width="90%" border="0" cellspacing="2" cellpadding="0" align="center">

      <tr>
      <td width="70%" class="head8"><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Navigation & Zuordnung</td>
      <td width="30%" class="head8" align="right">[(exec Time.Conversion.Actual formatDate='europe' cexe)]</td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>

</table>

<table width="90%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="nav11">&nbsp;Navigation und Administration</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;Folgende M&ouml;glichkeiten stehen Ihnen zur Wahl:</td>
      </tr>

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="30" border="0"></td>
      </tr>

</table>



<table width="80%" border="0" cellspacing="2" cellpadding="1" align="center">

      <tr>
      <td width="47%" valign="top">

<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center">

      <tr>
      <td class="navedit" colspan="3">Navigation (NAV)</td>
      </tr>

      <tr>
      <td width="15%"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,insert_nav')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td width="20%"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,insert_obheadgroup')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td width="65%"><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;NAV anlegen</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_nav&Template=Navigation,maintain_nav&new=1')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_group&Template=Navigation,maintain_obheadgroup&new=1')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;NAV bearbeiten</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_nav&Template=Navigation,delete_nav&new=1')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_group&Template=Navigation,delete_group&new=1')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;NAV l&ouml;schen</td>
      </tr>

      <tr>

      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_nav&Template=Textarticle,insert&new=2')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td>&nbsp;</td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Text anlegen</td>
      </tr>




      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>



      <tr>
      <td class="navedit" colspan="3">Texte & Produkte (T&P)</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:BigFenster('/1Ci/dmerce?qTemplate=Textarticle,insert&SubnavID=0&NavID=0&Template=Textarticle,list_maintain&whereIam=Artikel hinzuf&uuml;gen > Nicht zugeordneter Artikel&Infenster=0')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:BigFenster('/1Ci/dmerce?qTemplate=Article,insert&SubgroupID=0&Template=Navigation,closenav&whereIam=Produkt hinzuf&uuml;gen > Nicht zugeordnetes Objekt&Infenster=0')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;T&P anlegen</td>
      </tr>



      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_textarticle&Template=Textarticle,maintain')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_article&Template=Article,maintain')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;T&P bearbeiten</td>
      </tr>


      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_textarticle&Template=Navigation,update_textarticle')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_article&Template=Navigation,update_article')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0">&nbsp;T&P freistellen</td>
      </tr>

      <tr>

      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_textarticle&Template=Navigation,delete_textarticle')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_article&Template=Navigation,delete_article')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;T&P l&ouml;schen</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:ObjectFenster('/1Ci/dmerce?qTemplate=Textarticle,list_maintain')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:ObjectFenster('/1Ci/dmerce?qTemplate=Article,list_no_group')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;freie T&P zuordnen/l&ouml;schen</td>
      </tr>

      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>

      <tr>
      <td>&nbsp;</td>
      <td><a class="head8" href="javascript:HighlightFenster('/1Ci/dmerce?qTemplate=Article,highlight_list')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Highlightliste</td>
      </tr>

      <tr>
      <td>&nbsp;</td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Article,select_classofgoods')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Artikelbereich"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Warengruppen</td>
      </tr>

      <tr>
      <td>&nbsp;</td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_addfields&Template=Navigation,maintain_addfields')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Artikelbereich"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Produktbeschreibungsfelder</td>
      </tr>

      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>

</table>



      </td>
      <td width="6%" valign="top"><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      <td width="47%" valign="top">



<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center">

      <tr>
      <td class="navedit" colspan="3">Subnavigation (SubNAV)</td>
      </tr>

      <tr>
      <td width="15%"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_nav&Template=Navigation,insert_subnav&new=1')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td width="20%"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_group&Template=Navigation,insert_obsubgroup&new=1')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td width="65%"><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;SubNAV anlegen</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subnav&Template=Navigation,maintain_subnav&new=1')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subgroup&Template=Navigation,maintain_obsubgroup&new=1')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;SubNAV bearbeiten</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subnav&Template=Navigation,delete_subnav&new=1')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subgroup&Template=Navigation,delete_subgroup&new=1')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;SubNAV l&ouml;schen</td>
      </tr>

      <tr>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subnav&Template=Textarticle,insert&new=2')"><img src="../../pic/but_info.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Informationsbereich (z.B. Texte)"></a></td>
      <td><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_subgroup&Template=Article,insert&new=2')"><img src="../../pic/but_produkt.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Produktbereich (z.B. Produktangebote)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Text & Produkt anlegen</td>
      </tr>



      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>



      <tr>
      <td class="navedit" colspan="3">Sonstige</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGross600Fenster('/1Ci/dmerce?qTemplate=OrderInfo,list&qSuperSearch=ID]0')"><img src="../../pic/but_bestellung.gif" width="90" height="11" border="0" alt="Men&uuml;&uuml;berschriften (z.B. Informationen, Suche, Kontakt etc.)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Bestellungen einsehen</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:BigFenster('/1Ci/dmerce?qTemplate=Textarticle,maintain_dispatchconditions&Infenster=1')"><img src="../../pic/but_bestellung.gif" width="90" height="11" border="0" alt="Bearbeiten der Versandbedingungen"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Versandbedingungen</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_termsofpayment&Infenster=1')"><img src="../../pic/but_bestellung.gif" width="90" height="11" border="0" alt="Bearbeiten Zahlungsm&ouml;glichkeiten"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Zahlungsm&ouml;glichkeiten</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,select_wordlist&Template=Navigation,maintain_wordlist&new=2')"><img src="../../pic/but_menu.gif" width="50" height="11" border="0" alt="Men&uuml;&uuml;berschriften (z.B. Informationen, Suche, Kontakt etc.)"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;&Uuml;berschriften bearbeiten</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NavFenster('/1Ci/dmerce?qTemplate=Navigation,tree&Bereich=3')"><img src="../../pic/but_menu.gif" width="50" height="11" border="0" alt="Anzeige der Webstruktur auf einen Blick!"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;SiteMap & &Uuml;bersicht</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuFenster('/1Ci/dmerce?qTemplate=Navigation,upload_pic')"><img src="../../pic/but_menu.gif" width="50" height="11" border="0" alt="Ein Bild in die Bilderliste &uuml;bernehmen"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Bilder hochladen</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:BigFenster('/1Ci/dmerce?qTemplate=Navigation,upload_list&Infenster=1')"><img src="../../pic/but_menu.gif" width="50" height="11" border="0" alt="Anzeige der Webstruktur auf einen Blick!"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Bilderliste anzeigen</td>
      </tr>


      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>


      <tr>
      <td class="navedit" colspan="3">Layout</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGross600Fenster('/1Ci/dmerce?qTemplate=Navigation,layout')"><img src="../../pic/but_layout.gif" width="50" height="11" border="0" alt="Ein Layout ausw&auml;hlen und &auml;ndern"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;&Auml;ndern & Anpassen</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,logo')"><img src="../../pic/but_layout.gif" width="50" height="11" border="0" alt="Eigenes Logo hochladen"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Firmenlogo &auml;ndern</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGrossFenster('/1Ci/dmerce?qTemplate=Navigation,ownlayout')"><img src="../../pic/but_layout.gif" width="50" height="11" border="0" alt="Eigenes Layout dem Web hinzuf&uuml;gen"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Eigenes Layout erstellen</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGross600Fenster('/1Ci/dmerce?qTemplate=Navigation,basketnew')"><img src="../../pic/but_layout.gif" width="50" height="11" border="0" alt="Gilt f&uuml;r den Artikelbereich"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Symbole &auml;ndern</td>
      </tr>

      <tr>
      <td colspan="3"><img src="../../pic/dummy.gif" width="1" height="20" border="0"></td>
      </tr>

      <tr>
      <td class="navedit" colspan="3">Security</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:NeuGross600Fenster('/1Ci/dmerce?qTemplate=Navigation,underconstruction')"><img src="../../pic/but_security.gif" width="60" height="11" border="0" alt="www &ouml;ffnen / schlie&szlig;en"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;WWW &ouml;ffnen / schlie&szlig;en</td>
      </tr>

      <tr>
      <td colspan="2"><a class="head8" href="javascript:PasswortFenster('/1Ci/dmerce?qTemplate=Navigation,passwd_check')"><img src="../../pic/but_security.gif" width="60" height="11" border="0" alt="Passwort &auml;ndern"></a></td>
      <td><img src="../../pic/pfeil.gif" width="5" height="9" border="0" alt="">&nbsp;Passwort &auml;ndern</td>
      </tr>

</table>

      </td>
      </tr>

</table>



<table width="90%" border="0" cellspacing="2" cellpadding="0" align="center">


      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="30" border="0"></td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/001_1pixel.gif" width="100%" height="1" border="0"></td>
      </tr>


      <tr>
      <td class="nav11" colspan="2">&nbsp;Bitte beachten:</td>
      </tr>


      <tr>
      <td class="head8" valign="top">&nbsp;</td>
      <td class="head8">Navigationen k&ouml;nnen Sie nur l&ouml;schen, wenn Ihnen <u>keine</u> Subnavigationen und <u>keine</u> Texte oder Artikel zugeordnet sind. Subnavigationen k&ouml;nnen Sie nur l&ouml;schen, wenn Ihnen <u>keine</u> Texte oder Artikel zugeordnet sind.</td>
      </tr>

      <tr>
      <td colspan="2"><img src="../../pic/dummy.gif" width="1" height="15" border="0"></td>
      </tr>

</table>


</body>

</html>