<html>

<head>

<LINK rel="stylesheet" type="text/css" href="../../style_admin.css">
<META http-equiv="Content-Type" content="text/html; charset=charset=iso-8859-1">
<META NAME="keywords" lang="de" CONTENT="">
<META NAME="description" CONTENT="">
<META NAME="AUTHOR" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="COPYRIGHT" CONTENT="1Ci GmbH M&uuml;nster (info@1Ci.de)">
<META NAME="LANGUAGE" CONTENT="de">
<META NAME="REVISIT-AFTER" CONTENT="1 month">
<meta http-equiv="expires" content="0">

<title>Bilder auf den Server hochladen</title>

<script language="JavaScript">
<!--
var X=100
var Y=160

function Previewlist(myurl) {
        // Fenster in einer bestimmten Breite und an einer durch mouseDown definierten Position öffnen
        mywidth=800
        myheight=400
         {
                 par = '"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=0,width=' + mywidth + ',height=' + myheight + '"'
        }
newWin = window.open(myurl,'Fenster2',par);
newWin.focus();
}

//-->
</script>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0"  marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="90%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>AKTION</b>:</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;&Uuml;berspielen Sie hier Bilder auf den Server,<br>&nbsp;die sie anschlie&szlig;end in Texten einbinden<br>
      &nbsp;k&ouml;nnen.</td>
      </tr>

      <tr>
      <td>

<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <form method="post" action="/1Ci/dmerce" enctype="multipart/form-data">
      <input type="hidden" name="qTemplate" value="Navigation,upload_pic2">
      <input type="hidden" name="qTrigger" value="OS.File.Upload">
      <input type="hidden" name="qUploadKeepRealname" value="File">

      <tr>
      <td class="head8c">&nbsp;Bild:</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;<input type="file" name="File" class="input"></td>
      </tr>

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="2" border="0"></td>
      </tr>

      <tr>
      <td align="right"><input type="submit" class="submit" name="qButton" value="eintragen"></td>
      </tr>

</form>

</table>

      </td>
      </tr>

</table>

      </td>
      </tr>

</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr>
      <td><img src="../../pic/dummy.gif" width="1" height="10" border="0"></td>
      </tr>

</table>

<table bordercolor="#DEDFDE" width="98%" border="1" cellspacing="0" cellpadding="2" align="center">


      <tr>
      <td class="nav10blue">&nbsp;<b>&Uuml;bersicht</b>:</td>
      </tr>

      <tr>
      <td class="head8">&nbsp;Hier k&ouml;nnen Sie sich die Liste aller bis<br>
      &nbsp;jetzt hochgeladenen Bilder anzeigen lassen.</td>
      </tr>

      <tr>
      <td>

      <table width="100%" border="0" cellspacing="2" cellpadding="2" align="center">

      <tr>
      <td class="head8" align="right">&nbsp;<a class="head8" href="javascript:Previewlist('/1Ci/dmerce?qTemplate=Navigation,upload_list')">&Uuml;bersicht</a></td>
      </tr>

</table>

      </td>
      </tr>

</table>

      </td>
      </tr>

</table>



</body>

</html>