Hallo (sql Operator.FirstName "ID*1") (sql Operator.LastName "ID*1"),


es wurde versucht aus ihrem Online Shop von (sql Operator.Company "ID*1") mit Ihnen Kontakt aufzunehmen!


(if '(form Wunsch)' != '')
Der Kunde bittet um: (form Wunsch)
(endif)
(if '(form ArticleInfo)' != '')
Zu folgendem Artikel: (form ArticleInfo)
(endif)

(if '(form Vorname)' != '')
Vorname: (form Vorname)
(endif)
(if '(form Name)' != '')
Name: (form Name)
(endif)
(if '(form Strasse)' != '')
Strasse: (form Srasse)
(endif)
(if '(form PLZ)' != '' or '(form Ort)' != '')
PLZ - Ort: (form PLZ) - (form Ort)
(endif)
(if '(form Telefon)' != '')
Telefon: (form Telefon)
(endif)
(if '(form Fax)' != '')
Telefax: (form Fax)
(endif)
(if '(form Email)' != '')
Telefon: (form Email)
(endif)

(if '(form Sonstiges)' != '')
Bemerkungen des Kunden: (form Sonstiges)
(endif)













