<html>
<head>
<link rel="stylesheet" href="/style.css" type="text/css">
<title>1Ci Admin - Error Message</title>
<meta name="author" content="1Ci GmbH">
</head>

<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">

       <tr>
       <td><img src="../pic/dummy.gif" width="1" height="10" border="0"></td>
       </tr>

       <tr>
       <td class="head12">&nbsp;<b>Ein Fehler ist aufgetreten.</b></td>
       </tr>

       <tr>
       <td><img src="../pic/dummy.gif" width="1" height="10" border="0"></td>
       </tr>

       <tr>
       <td class="lightback">Ihre Eingabe oder Abfrage verursachte einen Fehler.</td>
       </tr>

       <tr>
       <td><img src="../pic/dummy.gif" width="1" height="10" border="0"></td>
       </tr>

       <tr>
       <td>Das System meldet Fehler Nr:(var qErrNo):<br>
       <br>
       (exec Error.Message.Show errNo=(var qErrNo),lang='de' cexe)</td>
       </tr>

       <tr>
       <td><img src="../pic/dummy.gif" width="1" height="10" border="0"></td>
       </tr>

       <tr>
       <td  class="lightback">
       Bitte gehen Sie <a href="javascript:history.back(-1)"><b>zur&uuml;ck</b></a> und versuchen Sie Ihre Eingabe nocheinmal.<br>
Sollte der Fehler weiterhin auftreten wenden Sie sich bitte an Ihren zust&auml;ndigen Systemadministrator oder an folgende E-mail Adresse: <a href="mailto:support@1Ci.de">support@1Ci.de</a></td></tr>
</table>
</body>
</html>